<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HDAConfigDefault</key>
	<array>
		<dict>
			<key>AFGLowPowerState</key>
			<data>
			AwAAAA==
			</data>
			<key>CodecID</key>
			<integer>283902550</integer>
			<key>ConfigData</key>
			<data>
			ASccEAEnHQABJx6mAScfkAE3HPABNx0AATceAAE3H0ABRxwgAUcd
			AAFHHhcBRx+QAYcc8AGHHQABhx4AAYcfQAGXHDABlx0QAZceiwGX
			HwIBpxzwAacdAAGnHgABpx9AAbcc8AG3HQABtx4AAbcfQAHXHPAB
			1x0AAdceAAHXH0AB5xzwAecdAAHnHgAB5x9AAhccUAIXHRACFx4r
			AhcfAgFHDAI=
			</data>
			<key>FuncGroup</key>
			<integer>1</integer>
			<key>LayoutID</key>
			<integer>13</integer>
		</dict>
	</array>
</dict>
</plist>
